.explore-section {
  margin-top: 16px;
}

.explore-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 482px) {
  .collection-title {
    font-size: 23px;
    margin-left: 7px;
  }
}
